html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a {
    color: inherit;
    font-size: 100%;
    font: inherit;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

  
ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Prevents iPhone from resizing in landscape mode  */
html {
  -webkit-text-size-adjust: none; }

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* BODY  */
div.scrollmenu {
  background: linear-gradient(to bottom, #99ccff 0%, #000000 100%);
    overflow: auto;
    white-space: nowrap;
    cursor: pointer;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.active {
  background: linear-gradient(to top, #99ccff 0%, #ffffff 100%);
}

#header-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #666;
  background: #d3e0ed; }

div#wrapper {
  height: 100vh;
  position: relative;
  background: #f3f6f9; }

/* HEADER  */
header {
  background: linear-gradient(to top left, #ccffff 0%, #000066 100%);
  padding: .5rem 0 .5rem 2%;
}

header h1, header h2 {
  color: white; }

header h1 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: inline-flex;
}

header h2 {
  font-size: .75rem;
  font-weight: 400;
  padding-top: .2rem; }

#main-body {
    position:relative;
    top: 100px;
}

/* MAIN  */
main {
  min-height: 5em;
}
  main #featured {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #004466; }
.headline {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}
.headline-image {
    margin-top: 0;
    width: 100%;
}
.description {
    margin-bottom: 1rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    color: #5b5b5b;
}
.source {
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
    float: left;
}
.time {
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #5b5b5b;
    float: right;
}
#clear {
    clear: both;
}
  

/* cards */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background-color: #e3e6ef;
    color: white;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
}


/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

img {
    display: none;
    border-radius: 5px 5px 0 0;
}


/*  FOOTER  */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1em;
  margin-top: 2%;
  background: linear-gradient(to top left, #ccffff 0%, #000066 100%);
  color: #fff;
  font-size: .9rem; }

  /*ABOUT PAGE*/
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

/* OTHER */

@media only screen and (min-width: 480px) { /* tablet */
  #left, #right {
    float: left;
    width: 50%; }
  footer {
    clear: both;
    }
}
@media only screen and (min-width: 800px) { /* desktop */
  div#wrapper {
    max-width: 800px;
    margin: 3rem auto 0 auto;
    border: 1px solid #666;
    height: auto;
    box-shadow: 5px 5px 10px #999; }

  footer {
    clear: both;
    } 
  #header-container {
    position: relative;
    top: inherit;
    width: inherit;
  }
  #main-body {
    position:relative;
    top: inherit;
  }
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(10, 10, 10, 0.37);
    cursor: pointer;
}
}